h1{
	color: red;
}h2{color: blue;background: yellow}
h3{border: 5px green dashed}
h4{font-size: 40px}
.head1{color: orange}
#heading1{color: blue}
.box{width:300px
hight:200px
background color:yellow; }